deps/_build
deps/_install
build/
.lock-waf*
training/01_*/
training/02_*/
training/03_*/
training/04_*/
!training/04_*/README
training/05_*/
!training/05_*/README
mark_trees/Makefile
mark_trees/.qmake.stash
mark_trees/mark_trees.app/
mark_trees/moc_*
*.solverstate
*.caffemodel
