# Configuration file for auto backup daemon

# run backup every 4 hours (interval unit is in minutes)
interval=240

[remote-ftp-1]
host=166.111.131.55
port=8021
user=santa
passwd=santa
dir=/codeserver_backup

[remote-ftp-2]
host=166.111.131.10
port=8021
user=santa
passwd=santa
dir=/codeserver_backup

[remote-ftp-3]
host=10.0.1.240
port=8021
user=santa
passwd=santa
dir=/codeserver_backup
