# ignore generated ui files
ui_*

# ignore qtcreator project file
*.pro.user

# ignore generated Makefiles
Makefile*

# ignore generated folders
release/
debug/
qtc-gdbmacros/

# ignore generated binary files
qedit/qedit
tinyplayer/tinyplayer

